body{
    background-color: #F5F5F5;
    font-family: Roboto Mono;
    font-size: 1.25rem;
    margin: 0px;
}


main{
     margin: 5rem;
     display: grid;
     gap: 20px;
     grid-template-columns: 1fr 200px 1fr;
     grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-areas: 
    "header1 . header2"
     "textarea1 img textarea2" 
     "button1 . button2"  
     "footer footer footer";
}

.titulo1{
    grid-area: header1;
}

.titulo2{
    grid-area: header2;
}

.txtarea1{
    grid-area: textarea1;
}

img{
    width: 150px;
    height: 150px;
    grid-area: img;
}
.txtarea2{
    grid-area: textarea2;
}

.btn1{
    grid-area: button1;
}

.btn2{
    grid-area: button2;
}


.titulo{
    font-family: Tourney;
    text-align: center;
    margin: 0px;
    color: #1E2A78;
    font-size: 3.9375rem;
}

.txt-area{
    background-color: #f5f5f5;
    font-size: 2rem;
    border-color: none;
    outline-color: #f5f5f5;
    resize: none;
    border: 0;
    
}

.aviso{
    font-size: 0.8rem;
}

.btn{
    font-size: 2.25rem;
    font-weight: bold;
    color: #f5f5f5;
    box-shadow: 4px 4px 4px #AEAEAE;
    padding: 1rem 3.75rem;
    border-width: 0px;
    border-radius: 5px;
}

.btn:active{
    transform: translateY(10px);
    box-shadow: 2px 2px 2px #AEAEAE;
    transition: ease-in 0.3s;
}

.btn1{  
    background-image: linear-gradient(to right, #1E2A78 , #384EDE);
}

.btn2{
    background-image: linear-gradient(to right, #FF7F50, #F44200 );
}

footer{
    text-align: center;
    grid-area: footer;
    font-size: 0.75rem;
}